.faq-section {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.faqtitle {
  width: 100%;
  margin-bottom: 80px;
  max-width: 968px;
}

.faqtitle a{
    text-decoration: none;
    color: #00AEF3;
    font-size: 26px;
    transition: color 0.40s;
}

.faq-left {
  font-size: 36px;
  margin-left: 20px;
  float: left;
  margin-top: 100px;
}

.faq-right {
  font-size: 2px;
  margin-right: 20px;
  float: right;
  margin-top: 100px;
 

}

.accordion {
  padding-bottom: 30px;
}

.accordion-item {
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 968px;
}

.accordion .accordion-question {
  background-color: transparent;
  color: #fff;
  padding: 20px 30px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2b2b2b;
}

.accordion .accordion-question .accordion-icon {
  display: inline-block;
  transition: transform 0.5s ease;
}

.accordion .accordion-answer {
  background-color: transparent;
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 0;
}

.accordion .accordion-answer p {
  padding: 20px 30px;
  margin: 0;
  color: #fff;
}

.accordion .accordion-question[aria-expanded="true"] {
  border-bottom: 1px solid transparent;
}

.accordion .accordion-question[aria-expanded="true"] .accordion-icon {
  transform: rotate(180deg);
}

.accordion .accordion-answer[aria-expanded="true"] p {
  border-top: 1px solid #2b2b2b;
}

.accordion-icon {
  font-size: 1em; 
}

svg {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .faq-section {
    display: flex;
    flex-direction: column;
  }

  .accordion-item {
    text-align: left;
    width: 100%;
  }

  .accordion .accordion-question {
      padding: 15px;
      font-size: 16px;
  }
  
  .faq-right a {
    margin-right: 120px;
  }
}