footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Arial', sans-serif;
  height: 228px;
}

.footer-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-section-middle {
  flex: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 968.75px;
  align-content: center;
  padding-top: 70px;
}

.left-footer  {
  display: inline-block;
  left: 0;
  transform: translateY(0);
}

.left-footer  img {
  width: 80px;
  margin-bottom: 15px;
}


.left-footer {
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.left-footer a {
  text-decoration: none;
  color: white;
  transition: color 0.40s;
}

.left-footer a:hover {
  color: #454a4d;
}

.left-footer img {
  height: 30px;
  width: 106px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 80px;
  max-height: 100px;
}

.contact-button {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 162px;
  background-color: #00AEF3;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: color 0.60s;
}

.contact-button a {
  color: white;
  text-decoration: none;
}

.contact-button:hover {
  color: transparent;
}


@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    bottom: 0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px; 
    text-align: center; 
  }

  .footer-section {
    display: none;
  }
  
  .footer-section-middle {
    width: 100%; 
    max-width: 100%; 
    justify-content: center; 
    padding-top: 15px; 
  }
  
  .left-footer {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  .left-footer img {
    height: auto; 
    width: 80px; 
    margin-bottom: 15px;
  }
  
  .footer-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center; 
    padding: 10px 0; 
  }
  
  .contact-button {
    margin-top: 20px; 
    width: auto; 
  }
  
 .contact-button a {
  font-size: 12px;
 }
} 