.header {
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1A1E1F;
    position: sticky;
    top: 0; /* This sets the top edge of the header to the top edge of the viewport */
    z-index: 1000; /* Ensures the header stays above other content */
    transition: background-color 0.3s;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: transparent; /* Navbar background */
  }

  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    box-align: center;
    gap: 50px; /* Space between links */
  }

  .navbar a {
    text-decoration: none;
    color: #fff; /* White text color */
    font-size: 16px;
    transition: color 0.40s;
  }

  /* Additional styling for logo or highlighted items */
  .navbar .logo {
    display: flex;
    box-align: margin-left;
    margin-right: 370px;
    
  }
  .navbar .logo-svg {
  width: 180px;
  height: 42px;
  }
 
  .navbar a:hover {
    color: #00a3e0; /* Lighter text color on hover */
  }
  .navbar a:active {
    opacity: 0.7;
    color: #00a3e0;
  }
  .TBXxUSAID-link {
    color: #00a3e0;
  } /*რადგან მხოლოდ ერთი ფეიჯია ამის გაკეთება მომიწია*/

 


  .right-side {
    line-height: 26px;
  }
  .navbar .TBCxUSAIDlink {
    color: #00a3e0;
  }
 
  